<!DOCTYPE html>
  <title>

  </title>

  <body style="background-color: #eeeeee">
    <table width="100%">
      <tbody>
        <tr>
          <td>
            <!-- title -->

            <table border="0" cellspacing="0" cellpadding="0" align="center" width="100%" style="background-color:#ffffff;border-radius:6px"> 
              <tbody>
                <tr>
                  <td>
                    <table cellspacing="0" cellpadding="0" width="500px" align="center" style="padding:30px 40px 30px 40px">
                      <tbody>
                        <tr>
                          <td align="center">
                            Feddit
                            <p style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;text-align:center;text-decoration:none;display:block;border-radius:4px;color:#5b5b5b;padding:0;margin:15px 0 0 0;font-size:15px;white-space:nowrap">The first Reddit daily email newsletter. Ever!</p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>

            <table><tbody><tr><td height="10"></td></tr></tbody></table>
            
            <table border="0" cellspacing="0" cellpadding="0" align="center" width="100%" style="background:#ffffff;border-radius:6px">
              <tbody>
                <tr>
                  <td align="center">
                    <table cellspacing="0" cellpadding="0" width="500" style="width:500px;margin:0 auto" align="center">
                      <tbody>
                        <tr>
                          <td height="40"></td>
                        </tr>
                        <tr>
                          <td width="500">
                            <span style="width:500px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:22px;line-height:13px;color:#424242">
                              <a style="width:500px;text-decoration:none;color:#ffffff" href="www.google.com" target="_blank">
                                <div style="width:500px;padding:19px 0;text-decoration:none;background-color:#559fca;border-top-left-radius:3px;border-top-right-radius:3px;color:#ffffff;font-weight:bold;font-size:20px;white-space:nowrap;">
                                  <div style="display:inline;">
                                    &nbsp;&nbsp;&nbsp;101275
                                  </div>
                                  <div style="display:inline; float:right; padding-right: 19px">
                                    &nbsp;&nbsp;&nbsp;#1
                                  </div>
                                </div>
                              </a>
                            </span>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span style="width:500px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:22px;line-height:20px;color:#424242">
                              <a style="width:500px;text-decoration:none;color:#ffffff" href="www.google.com" target="_blank">
                                <div style="width:500px;padding:19px 0;text-decoration:none;border-top-left-radius:3px;border-top-right-radius:3px;color:#707070;font-weight:bold;font-size:20px;">
                                  TIL - Liam Neeson turned down the role of James Bond for Goldeneye because he wasn't interested in starring in action movies
                                </div>
                              </a>
                            </span>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <span style="width:500px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;">
                              <a style="width:500px;text-decoration:none;" href="www.google.com" target="_blank">
                                <div style="width:500px;text-decoration:none;border-top-left-radius:3px;border-top-right-radius:3px;color:#a0a0a0;font-weight:bold;font-size:12px;">
                                  <div style="display:inline">
                                  permalink 
                                  </div>
                                  <div style="display:inline; float:right;">
                                    author 
                                  </div>

                                </div>
                              </a>
                            </span>
                          </td>
                        </tr>

                        <tr>
                          <td height="4"></td>
                        </tr>
                      </tbody>
                    </table>


                    <!-- Another here -->




                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
