<!DOCTYPE html>
  <title>

  </title>

  <body style="background-color: #eeeeee">
    <table width="100%">
      <tbody>
        <tr>
          <td>
            <!-- title -->

            <table border="0" cellspacing="0" cellpadding="0" align="center" width="100%" style="background-color:#ffffff;border-radius:6px"> 
              <tbody>
                <tr>
                  <td>
                    <table cellspacing="0" cellpadding="0" width="500px" align="center" style="padding:30px 40px 30px 40px">
                      <tbody>
                        <tr>
                          <td align="center">
                            Feddit
                            <p style="font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;text-align:center;text-decoration:none;display:block;border-radius:4px;color:#5b5b5b;padding:0;margin:15px 0 0 0;font-size:15px;white-space:nowrap">The first Reddit daily email newsletter. Ever!</p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>

            <table><tbody><tr><td height="10"></td></tr></tbody></table>
            
            <table border="0" cellspacing="0" cellpadding="0" align="center" width="100%" style="background:#ffffff;border-radius:6px">
              <tbody>
                <tr>
                  <td align="center">
                    <table cellspacing="0" cellpadding="0" width="500" style="width:500px;margin:0 auto" align="center">
                      <tbody>
                        <tr>
                          <td height="40"></td>
                        </tr>
                        <tr>
                          <td width="500">
                            <span style="width:500px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:22px;line-height:13px;color:#424242">
                              <a style="width:500px;text-decoration:none;color:#ffffff" href="http://mx.tumblr.com/wf/click?upn=Wd9PKjP-2B1WMfeX7hELXddLdh91bpIyals4SBjHyBEokMyd6wnQ7-2BtB8RtbcK4jve4FRqdZaJ7UVvqB7EwZB6E-2BCXL-2Fq8QKJjqxFQZiiOvKdMue6lKQQFIYTsdJ-2FjePNXjy9cmqKkKm6x8w-2BOKB6fGvQ-2B9A7xFnrSukzvV-2BYSeKo-3D_rpmavNo4D7btOFj-2FRn20l-2FnYD4tKEAOC20ufFPJ1MEzq3Ac1CQKqmW5tC-2BUYxV-2FEceoRvZdeLPcEl5wNlMMpFZpr5cjUC0Qxusuw-2FB9HevQDLoOvBxuCD2irRE09i4F5aDNlBj566-2FOxpvJ16ge5lQkpAvfLsEQJJv3YizH6CXX7gPxGhuhGFO0w1UdEuT1u7wABQieIV3F51WJwr34MkBBOUBrCPn0vOQVEU7nxG5M04HeAqjXITG8F4N1equh5" target="_blank">
                                <div style="width:500px;padding:19px 0;text-align:left;text-decoration:none;background-color:#559fca;border-top-left-radius:3px;border-top-right-radius:3px;color:#ffffff;font-weight:bold;font-size:20px;white-space:nowrap">
                                  &nbsp;&nbsp;&nbsp;#yoga
                                </div>
                              </a>
                            </span>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <a href="http://mx.tumblr.com/wf/click?upn=Wd9PKjP-2B1WMfeX7hELXddLdh91bpIyals4SBjHyBEokMyd6wnQ7-2BtB8RtbcK4jve4FRqdZaJ7UVvqB7EwZB6E-2BCXL-2Fq8QKJjqxFQZiiOvKdMue6lKQQFIYTsdJ-2FjePNXjy9cmqKkKm6x8w-2BOKB6fGvQ-2B9A7xFnrSukzvV-2BYSeKo-3D_rpmavNo4D7btOFj-2FRn20l-2FnYD4tKEAOC20ufFPJ1MEzq3Ac1CQKqmW5tC-2BUYxV-2FEakvgfDsxX2WOth6IspRYqPP7tX1AxXQcNmJ8MdxjfFGO1RTCTlUjwIECSWFvN6s6KjvyVdPEtRQEc498zS39kKn5YJaytw-2FOtHmF9AYr7aQrhHVx6X-2BWKKXDv7kKKjb6aMfEq7o-2F3g2cm-2BfatnNZwd1doFWmwhl-2FV4nnUUSSB69BbAbwhNCrPCiOVdZxXWZN" target="_blank">

                              <img src="https://ci5.googleusercontent.com/proxy/thDmSE2G6XltnGshriR-eeg0moTSN2UkcnzFYppV4C0D8q2AydTfjlbWkGS4gKkhLFHaC4U74hVx8XG9U6qeNGdfRYXQYDrBFumErLPEPykOf2ESPpB7RJ6p8juDewUgLwmrU-Xi607W4147AOiWA-UjS7A=s0-d-e1-ft#http://25.media.tumblr.com/b556251580681c94be106ca936d00fdb/tumblr_mszegwLoOC1qzgq67o1_500.png" alt="yoga" style="display:block;width:500px;min-height:500px;margin:0" border="0" width="500" height="500">
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td height="4"></td>
                        </tr>
                      </tbody>
                    </table>
                    <table cellspacing="0" cellpadding="0" width="500" style="width:500px;margin:0 auto" align="center">
                      <tbody>
                        <tr>
                          <td height="4"></td>
                        </tr>
                        <tr>
                          <td width="500">
                            <span style="width:500px;font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;font-size:22px;line-height:13px;color:#424242">
                              <a style="width:500px;text-decoration:none;color:#ffffff" href="http://mx.tumblr.com/wf/click?upn=Wd9PKjP-2B1WMfeX7hELXddLdh91bpIyals4SBjHyBEokMyd6wnQ7-2BtB8RtbcK4jve4FRqdZaJ7UVvqB7EwZB6E-2BCXL-2Fq8QKJjqxFQZiiOvKdMue6lKQQFIYTsdJ-2FjePNXjy9cmqKkKm6x8w-2BOKB6fGvQ-2B9A7xFnrSukzvV-2BYSeKo-3D_rpmavNo4D7btOFj-2FRn20l-2FnYD4tKEAOC20ufFPJ1MEzq3Ac1CQKqmW5tC-2BUYxV-2FEceoRvZdeLPcEl5wNlMMpFZpr5cjUC0Qxusuw-2FB9HevQDLoOvBxuCD2irRE09i4F5aDNlBj566-2FOxpvJ16ge5lQkpAvfLsEQJJv3YizH6CXX7gPxGhuhGFO0w1UdEuT1u7wABQieIV3F51WJwr34MkBBOUBrCPn0vOQVEU7nxG5M04HeAqjXITG8F4N1equh5" target="_blank">
                                <div style="width:500px;padding:19px 0;text-align:left;text-decoration:none;background-color:#559fca;border-top-left-radius:3px;border-top-right-radius:3px;color:#ffffff;font-weight:bold;font-size:20px;white-space:nowrap">
                                  &nbsp;&nbsp;&nbsp;#yoga
                                </div>
                              </a>
                            </span>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <a href="http://mx.tumblr.com/wf/click?upn=Wd9PKjP-2B1WMfeX7hELXddLdh91bpIyals4SBjHyBEokMyd6wnQ7-2BtB8RtbcK4jve4FRqdZaJ7UVvqB7EwZB6E-2BCXL-2Fq8QKJjqxFQZiiOvKdMue6lKQQFIYTsdJ-2FjePNXjy9cmqKkKm6x8w-2BOKB6fGvQ-2B9A7xFnrSukzvV-2BYSeKo-3D_rpmavNo4D7btOFj-2FRn20l-2FnYD4tKEAOC20ufFPJ1MEzq3Ac1CQKqmW5tC-2BUYxV-2FEakvgfDsxX2WOth6IspRYqPP7tX1AxXQcNmJ8MdxjfFGO1RTCTlUjwIECSWFvN6s6KjvyVdPEtRQEc498zS39kKn5YJaytw-2FOtHmF9AYr7aQrhHVx6X-2BWKKXDv7kKKjb6aMfEq7o-2F3g2cm-2BfatnNZwd1doFWmwhl-2FV4nnUUSSB69BbAbwhNCrPCiOVdZxXWZN" target="_blank">

                              <img src="https://ci5.googleusercontent.com/proxy/thDmSE2G6XltnGshriR-eeg0moTSN2UkcnzFYppV4C0D8q2AydTfjlbWkGS4gKkhLFHaC4U74hVx8XG9U6qeNGdfRYXQYDrBFumErLPEPykOf2ESPpB7RJ6p8juDewUgLwmrU-Xi607W4147AOiWA-UjS7A=s0-d-e1-ft#http://25.media.tumblr.com/b556251580681c94be106ca936d00fdb/tumblr_mszegwLoOC1qzgq67o1_500.png" alt="yoga" style="display:block;width:500px;min-height:500px;margin:0" border="0" width="500" height="500">
                            </a>
                          </td>
                        </tr>
                        <tr>
                          <td height="4"></td>
                        </tr>
                      </tbody>
                    </table>


                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
